.navigation1{
    margin-bottom: 10vh;
}


.navigationButton{
    margin-top: 50px;
    margin-right: 150px;
    font-size: 30px;
    font-family: Arial, "Andale Mono";
    color: white;
    border: None;
    background: None;
    float: right;
}