.restaurantName{
    position: absolute;
    left:0px;
    background-color: transparent;
    border: none;
}

.title{
    margin-left: 25vw;
    position: relative;
    float: left;
    margin-bottom: 20px;
}

.blogpic{
    height: 500px;
    width: 800px;
    display: inline-block;
    margin-left: 25vw;
}

.date{
    margin-left: 25vw;
    position: relative;
    font-size: 20px;
    margin-top: 20px;
    color: #888888;
}

.content{
    width: 50vw;
    margin-left: 25vw;
}

.post{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

.commentsTitle{
    font-size: 30px;
    margin-top: 30px;
    margin-left: 25vw;
}

.userName{
    font-size: 30px;
}

.userInfo1{
    display: flex;
    margin-left: 30vw;
}

.reviewContent{
    width: 45vw;
    margin-left: 30vw;
    font-family: Arial, "Al Bayan";
    font-size: 15px;
}

.userPicture1{
    width: 4vw;
    height: 4vw;
    padding: 0;
    margin: 0;
}