.Posttitle{
    font-size: 50px;
    color: white;
    font-family: sans-serif;
    padding-bottom: 3vh;
}

.blogpic{
    height: 500px;
    width: 800px;
    display: inline-block;
}

.date{
    padding-top: 3vh;
    padding-bottom: 3vh;
    color: #888888;
}

.PostcontentDiv{
    /* width: 50vw; */
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.Postcontent{
    text-align: left;
    color: white;
    font-size: 20px;
}

.post{
    margin: 0;
    padding: 0;
    text-align: center;
    align-content: center;
    padding-bottom: 10vh;
}

.commentsTitle{
    padding-top: 5vh;
    font-size: 40px;
    color: white;
}

.userName{
    color: wh;
    font-size: 30px;
}

.userInfo1{
    display: flex;
}

.reviewContent{
    /* width: 45vw; */
    font-family: Arial, "Al Bayan";
    font-size: 15px;
    text-align: left;
}

.userPicture1{
    width: 4vw;
    height: 4vw;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}

.commentsBlock{
    text-align: center;
    color: white;
    margin: 0 auto;
    width: 50%;
}

.PosttextEditorDiv{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.PostsubmitButton{
    font-size: 30px;
    color: white;
    border: none;
    border-radius: 0%;
}

.postPage{
    background-image: url("../../images/blackbackground.jpg");
}