
.headericon {
    font-family: 'Dancing Script', cursive;
    padding-left: 0px;
    padding-top: 10px;
    font-size: 2rem;
    color: #ff5506;
    width: 400px;
    height: 400px;
    margin: auto;
}