.Slider{
    position: relative;
    height: 100vh;
    width: 60vw;
    margin: 0 auto;
    overflow: hidden;
}

.McDonaldPhoto{
    flex: 1;
    height: 80px;
    width: 80px;
    resizeMode: 'cover'
}

.arrowPrev{
    height: 50px;
    width: 50px;
    margin-top: 100px;
    background-color: antiquewhite;

}

.arrowNext{
    height: 50px;
    width: 50px;
    margin-top: 100px;
    background-color: antiquewhite;

}

.displayPic{
    height: 300px;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

.picSlider{
    display: flex;
    justify-content: right;
    width: 80vw;
    background-color: antiquewhite;
}