.Slider{
    position: relative;
    height: 100vh;
    width: 60vw;
    margin: 0 auto;
    overflow: hidden;
}

.McDonaldPhoto{
    flex: 1;
    height: 80px;
    width: 80px;
    resizeMode: 'cover'
}

.arrowPrev{
    height: 50px;
    width: 50px;
    margin-top: 50px;
    background-color: antiquewhite;

}

.arrowNext{
    height: 50px;
    width: 50px;
    margin-top: 50px;
    background-color: antiquewhite;

}

.displayPic{
    height: 25vh;
    width: 20vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.picSlider{
    display: flex;
    width: 80%;
    background-color: antiquewhite;
    /*margin-left: 10vw;*/
}