.signInContainer {

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: url("../images/blackbackground.jpg") no-repeat center center
    fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

.signInBox {
  background: rgba(251, 246, 223, 0.5);
}
.point_cursor {
  cursor: pointer;
  color: #ffc800;
}
.uploadBox {
  display: flex;
  justify-content: flex-start;
}
#fileUpload {
  display: none; /* do not display the actual file upload button */
}

#fileButton {
  border-color: black;
  margin-left: 10px;
}
.registerInputField {
  margin-bottom: 10px ;
}
#uploadMsg {
  margin-left: 10px;
}
