.couponPic{
    height: 75px;
    object-fit: contain;
    border-radius: 20%;
    display: flex;
    justify-content: space-around;

}

#coupon1{
    margin: 10px;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 2px 2px 30px 2px #130506;
    max-width:30% ;

}

.couponFooter{
    height: 30px;
    padding: 0%;
}

.text-muted{
    padding: 0%;
    margin: 0%;
}

#coupon{
}