.couponPic{
    height: 75px;
    object-fit: contain;
    border-radius: 20%;
    display: flex;
    justify-content: space-around;

}

#coupon1{
    margin: 10px;
    border-radius: 5%;
    max-width: 250px;

}

.couponFooter{
    height: 30px;
    padding: 0%;
}

.text-muted{
    padding: 0%;
    margin: 0%;
}