.navigation1{
    padding-left: 25vw;
    display: inline-block;
}


.navigationButton{
    margin-top: 50px;
    margin-right: 150px;
    font-size: 30px;
    font-family: Arial, "Andale Mono";
    color: darkslategrey;
    border: None;
    background: None;
    float: right;
}