.back {
    background-color: antiquewhite;
    padding-left: 10vw;
}

.title1 {
    /*background-color: transparent;*/
    border: none;
    font-size: 30px;
    height: 5vw;
    width: 5vw;
    background-color: antiquewhite;
    float: left;
    margin-left: 2vw;
}

.title2{
    background-color: antiquewhite;
}

.titlediv{
    display: inline-block;
}

.blogblock{
    margin-left: 10vw;
    margin-right: 10vw;
    display: inline-block;
    margin-top: 20px;
}

