.back {
    background-color: antiquewhite;
    padding-left: 10vw;
}

.title1 {
    background-color: transparent;
    border: none;
    font-size: 30px;
    margin-left: 10vw;

}

.titlediv{
    display: inline-block;
}

.blogblock{
    margin-left: 10vw;
    margin-right: 10vw;
    display: inline-block;
    margin-top: 20px;
}

