.Menu {
    font-family: 'Arvo', serif;
    position: relative;
    color: #ffc800;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;

}

.Menu {
    content: "";
    opacity: 0.8;
    background: url("../../images/blackbackground_2.jpg") no-repeat center center fixed;
    background-size: cover;
    /* filter: blur(3px); */
    position: relative;
    min-height: 100vh;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#back{
    margin-left: 1%;
    margin-top: 0%;
    width: 100px;
    color: orange;
    font-size: x-large;
}

#Menu {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}