.respage{
    background-color: antiquewhite;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
}



.RestaurantName{
    font-family: Arial, monospace;
    font-size: 40px;
    top: 0;
    line-height: 150%;
    color: black;
}

.RestaurantDescription{
    font-family: Arial, monospace;
    font-size: 20px;
    top: 0;
    line-height: 150%;
    color: black;
}

.RestaurantInfo{
    margin-left: 10vw;
    text-align: left;
    float: left;
    width: 100%;
}

.CovidUpdate{
    font-family: Arial, monospace;
    font-size: 20px;
    top: 0;
    line-height: 150%;
    color: black;
}

.checkPic{
    height: 20px;
    width: 20px;
    float: left;
}

.conditon{
    margin-left: 10px;
    float: right;
}

.r{
    font-family: Arial, monospace;
    font-size: 30px;
    line-height: 150%;
    color: black;
    margin-top: 20px;
}

.userName{
    font-family: Arial, monospace;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10vw;
    line-height: 150%;
    color: black;
    left: 0px;
}

.reviewConcent{
    font-family: Arial, monospace;
    font-size: 15px;
    margin-left: 10px;
    line-height: 150%;
    color: black;
    margin-right: 10vw;

}

.reviewBlock{
    border-bottom: black solid 1px;
}

.reviewpic{
    height: 300px;
    width: 300px;
    margin-left: 25vw;
}

.textEditor{
    maxHeight: 30px;
    minHeight: 40px;
    maxWidth: 30px;
    resize: none;
    padding: 9px;
    fontSize: 15px;
    display: inline-block;
    margin-left:25vw;
}

.rate{
    display: block;
    margin-left:25vw;
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

.submitButton{
    display: inline-block;
    margin-left: 45%;
    font-size: 30px;
}

.submitButton2{
    margin-left: 5vw;
    font-size: 18px;
    background-color: transparent;

}

.RestaurantTop{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.RestaurantLeft{
    flex-grow: 1;
}


.googleMap{
    flex-grow: 2;
    maxWidth: 400px;
    height: 400px;
    overflowX: hidden;
    overflowY: hidden;
}